<footer id="footer" class="mt-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="footer-menu">
          <h5 class="widget-title text-uppercase">Quick Links</h5>
          <ul class="menu-list list-unstyled">
            <li class="menu-item">
              <a href="#" class="nav-link">About us</a>
            </li>
            <li class="menu-item">
              <a href="#" class="nav-link">Customer Service</a>
            </li>
            <li class="menu-item">
              <a href="#" class="nav-link">Privacy Policy</a>
            </li>
            <li class="menu-item">
              <a href="#" class="nav-link">Site Map</a>
            </li>
            <li class="menu-item">
              <a href="#" class="nav-link">Search Terms</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="footer-menu">
          <h5 class="widget-title text-uppercase">Customer Service</h5>
          <ul class="menu-list list-unstyled">
            <li class="menu-item">
              <a href="#" class="nav-link">FAQ</a>
            </li>
            <li class="menu-item">
              <a href="#" class="nav-link">Contact</a>
            </li>
            <li class="menu-item">
              <a href="#" class="nav-link">Privacy Policy</a>
            </li>
            <li class="menu-item">
              <a href="#" class="nav-link">Returns & Refunds</a>
            </li>
            <li class="menu-item">
              <a href="#" class="nav-link">Cookie Guidelines</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="footer-menu">
          <h5 class="widget-title text-uppercase">Contact Us</h5>
          <p>Do you have any questions or suggestions? <a href="#" class="email">ourshop@domain.com</a></p>
          <p>Do you need assistance? Give us a call: <br>
            <strong>+57 444 11 00 35</strong>
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="footer-menu">
          <h5 class="widget-title text-uppercase">Follow Us</h5>
          <ul class="social-links list-unstyled">
            <li class="pe-2">
              <a href="#" class="fb">
                <svg class="facebook" width="24" height="24">
                  <use xlink:href="#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="pe-2">
              <a href="#" class="in">
                <svg class="instagram" width="24" height="24">
                  <use xlink:href="#instagram"></use>
                </svg>
              </a>
            </li>
            <li class="pe-2">
              <a href="#" class="yt">
                <svg class="youtube" width="24" height="24">
                  <use xlink:href="#youtube"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="#" class="pt">
                <svg class="pinterest" width="24" height="24">
                  <use xlink:href="#pinterest"></use>
                </svg>
              </a>
            </li>
          </ul>
          <div class="newsletter">
            <h6>Subscribe to our newsletter:</h6>
            <form id="newsletter">
              <input type="email" name="email" placeholder="Your email address" class="form-control">
              <button class="btn btn-dark mt-3">Subscribe</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="border-top py-4">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 d-flex flex-wrap">
          <div class="social-links">
            <ul class="list-unstyled d-flex">
              <li class="pe-2"><a href="#">Privacy Policy</a></li>
              <li class="pe-2"><a href="#">Terms & Conditions</a></li>
              <li class="pe-2"><a href="#">Cookie Guidelines</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 text-start text-md-end">
          <p>© Copyright 2023 Stylish. All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>